# ===============================
# DB -mysql
# ===============================
spring.datasource.url = jdbc:h2:mem:testdb
spring.datasource.driverClassName = org.h2.Driver
spring.datasource.username = sa
spring.datasource.password = 

# ===============================
# Https / ssl 
# =============================== 
server.ssl.enabled = true
server.ssl.key-alias = tomcat
server.ssl.key-store-password = spring
server.ssl.key-store = classpath:certs/keystore.p12
server.ssl.key-store-type = PKCS12

